@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

:root {
    --white: #FFFFFF;
    --color: rgba(255, 255, 255, 0.4);
    --background-img: rgba(255, 255, 255, 0.65);
}

.content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(34, 46, 64, 1) 0%, rgba(81, 195, 184, 1) 100%);
}

.grid-container {
    /* background-color: #073377; */
    overflow: hidden;
    border-radius: 10px;
}

.container-login {
    width: 100% !important;
    height: 100% !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
}

.wfm-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wfm-h1 {
    color: white;
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

.wrap {
    width: 900px;
    height: 550px;
}

.grid-login {
    background: linear-gradient(42deg, rgba(42, 46, 54, 1) 0%, rgba(97, 107, 125, 1) 100%);
}

.grid-slider {
    background: linear-gradient(0deg, rgba(62, 181, 169, 1) 0%, rgba(111, 226, 204, 1) 100%);
}

/* SLIDESHOW */
.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: calc(100% - 50px);
    /* padding: 10px; */
    border-radius: 10px 0 0 10px;

    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-image: url("http://res.cloudinary.com/dpcloudinary/image/upload/v1506186248/dots.png");
    background-repeat: no-repeat;
    background-position: 0% 90%;
}

.slideshow h2 {
    margin: .0em auto .0em auto;
    text-align: center;
    font-size: 1.4em;
    color: #fff;
    line-height: .5em;
}

.slideshow p {
    color: #fff;
    display: none;
}

.animation-right {
    animation: go-right 1s ease;
    animation-fill-mode: forwards;
}

.login-message {
    font-family: 'Inter', sans-serif;
    font-size: 3.75rem;
    color: black;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-title {
    display: flex;
    color: var(--color);
}

.login-title span {
    padding-bottom: 4px;
    border-bottom: 1px solid #5FD1C1;
}

.login-remember {
    display: flex !important;
    color: var(--color);
}

.grid-img {
    background-image: url(../assets/images/login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--background-img);
}

.grid-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 125px;
    height: 50px;
    margin-left: 10px;
}

.box-login {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errorLogin {
    color: #f44336;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
}


@keyframes go-right {
    0%, 100% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
    }
}

@media screen and (max-width: 900px) {
    .login-message {
        font-size: 2.75rem !important;
    }

    .wfm-h1 {
        color: white;
        font-size: 2rem;
        letter-spacing: 0.3rem;
    }
}