@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

:root {
    --white: #FFFFFF;
    --color: rgba(255, 255, 255, 0.4);
    --background-img: rgba(255, 255, 255, 0.65);
}

.content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(180deg, rgba(34, 46, 64, 1) 0%, rgba(81, 195, 184, 1) 100%); */
    background: linear-gradient(180deg, rgba(34, 46, 64, 1) 0%, rgb(32 127 209) 100%);
}

.grid-container {
    /* background-color: #073377; */
    overflow: hidden;
    border-radius: 10px;
}

.container-login {
    width: 100% !important;
    height: 100% !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
}

.wfm-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wfm-h1 {
    color: white;
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

.wrap {
    width: 900px;
    height: 550px;
}

.grid-login {
    background: linear-gradient(42deg, rgba(42, 46, 54, 1) 0%, rgba(97, 107, 125, 1) 100%);
}

.grid-slider {
    /* background: linear-gradient(0deg, rgba(62, 181, 169, 1) 0%, rgba(111, 226, 204, 1) 100%); */
    background: linear-gradient(0deg, rgba(32, 127, 209, 1) 0%, rgba(62, 181, 169, 1) 100%);
}

/* SLIDESHOW */
.slideshow {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: calc(100% - 50px);
    /* padding: 10px; */
    border-radius: 10px 0 0 10px;

}

.slideshow h2 {
    position: absolute;
    right: 0;
    top: 30%;
    left: 0;
    bottom: 0;
    margin: .0em auto .0em auto;
    text-align: center;
    font-size: 3em;
    color: #fff;
    line-height: .5em;
}

.slideshow p {
    color: #fff;
    /* display: none; */
}

.slideshow div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em 3em;
    background-repeat: no-repeat;
}

.slideshow .one {
    height: calc(100% - 50px);
    background-image: url("http://res.cloudinary.com/dpcloudinary/image/upload/v1506186248/dots.png");
    background-repeat: no-repeat;
    background-position: 50% 130%;
}

.slideshow .two {
    height: calc(100% - 50px);
    background-image: url("http://res.cloudinary.com/dpcloudinary/image/upload/v1506186248/gears.png");
    background-repeat: no-repeat;
    background-position: 50% 130%;
}

.slideshow .three {
    height: calc(100% - 50px);
    background-image: url("http://res.cloudinary.com/dpcloudinary/image/upload/v1506186248/dots.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.slide {
    opacity: 0;
    /* Valor inicial */
    animation: fade 15s ease-in-out infinite;
}

.slide.one {
    animation-delay: 0s;
}

.slide.two {
    animation-delay: 5s;
}

.slide.three {
    animation-delay: 10s;
}

@keyframes fade {
    0%, 100% {
        opacity: 1;
    }

    20%, 40%, 80% {
        opacity: 0;
    }
}

.animation-right {
    animation: go-right 1s ease;
    animation-fill-mode: forwards;
}

.login-message {
    font-family: 'Inter', sans-serif;
    font-size: 3.75rem;
    color: black;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-title {
    display: flex;
    color: var(--color);
}

.login-title span {
    padding-bottom: 4px;
    border-bottom: 1px solid #5FD1C1;
}

.wfm-departaments span {
    font-size: 3rem;
    /* padding-bottom: 4px;
    padding-top: 4px;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF; */
}

.login-remember {
    display: flex !important;
    color: var(--color);
}

.button-save {
    background-color: rgb(62, 181, 169) !important;
}

.grid-img {
    background-image: url(../assets/images/login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--background-img);
}

.grid-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 125px;
    height: 50px;
    margin-left: 10px;
}

.box-login {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errorLogin {
    color: #f44336;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
}


@keyframes go-right {
    0%, 100% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
    }
}

@media screen and (max-width: 900px) {
    .login-message {
        font-size: 2.75rem !important;
    }

    .wfm-h1 {
        color: white;
        font-size: 2rem;
        letter-spacing: 0.3rem;
    }

    .wrap {
        width: 100%;
        height: 100%;
    }

    .grid-container {
        /* background-color: #073377; */
        overflow: hidden;
        border-radius: 0px;
    }

    .slideshow .one {
        padding: 0;
        margin: 0;
        height: 100%;
        flex-direction: column;
    }

    .slideshow h2 {
        position: unset;
    }
}